---
---
<section>
  <h2>Elsewhere</h2>
  <ul>
    <li><a href="mailto:louis@louiskotze.dev">louis@louiskotze.dev</a></li>
    <li><a href="https://linkedin.com/in/louis-kotze">LinkedIn</a></li>
    <li><a href="https://github.com/louis-kotze">GitHub</a></li>
    <li><a href="https://lore.kernel.org/all/?q=f:loukot@gmail.com">Kernel patches (lore.kernel.org)</a></li>
    <li><a href="https://prolificstudio.co.za">Prolific Studio</a> (small consultancy)</li>
  </ul>
</section>
