---
---
<section>
  <h2>Mentorship</h2>
  <ul>
    <li>
      <strong>University of Pretoria Mentorship Programme</strong> (2026&nbsp;&ndash;&nbsp;present):
      mentoring graduates on CV, interview prep, and the current South
      African software job landscape.
    </li>
    <li>
      <strong>Harambee Youth Employment Accelerator</strong> (at BMW IT Hub SA,
      2021&nbsp;&ndash;&nbsp;2025): mentored three graduates through their
      placement on the team, supporting their transition into first engineering
      roles.
    </li>
  </ul>
</section>
